body{
    background: rgb(143,50,17);
    background: linear-gradient(90deg, 
                rgba(143,50,17,1) 0%, 
                rgba(177,212,111,1) 42%, 
                rgba(173,113,93,1) 100%);
}

.heading{
    width: 100%;
    font-size: 23px;
    margin: 0px;
}